body {
    width: 100%;
    height: 100vh;
    background: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

#canvas {
    background: lightgrey;
    width: 950px;
    height: 600px;
}

#legend {
    width: 200px;
    height: 40px;
}

h1, h2, h3{
    color: black;
}

h1{
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: green;
}

g text {
    font-size: 0.7rem;
    font-weight: 700;
}

#tooltip{
    margin-top: 2rem;
    visibility: hidden;
    font-weight: 700;
    font-size: 1.2rem;
}